name: Hello World Self Hosted Runner.

on:
  push:
    branches:
      - main

jobs:
  hello:
    runs-on: self-hosted
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run Hello Script
        run: |
          echo "Running on self-hosted runner"
          ./hello.sh

